@model IEnumerable<COMP2006_S2016_FinalExamV2.Models.Artist>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Author's name: Akhil Thakkar
    Student Number: 200300312
    DATE Modified: August 18,2016
    Short Version history: 0.0.1
    Description: This file list the Artists in a table form
*@
<h2>List of Artists</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
     
    </tr>
}

</table>
